
           {% extends "layout.html" %}
           {% block content %}
      	<div class="story1">
       	 	<h1>The Crows And The Cobra</h1>
        		<p>Two crows, husband and wife, and a cobra lived on a banyan tree in a forest near a small kingdom. The cobra was wicked and ate the crows’ eggs when the crows left the nest in search of food. The crows went to a wise jackal and ask for advice. As per the advice of the jackal, one of the crows went to the royal palace and stole a very precious necklace belonging to the queen as the guards watched. The crow flew slowly to its nest, so that the guards can follow it.</p>
<br>
<p>On reaching the banyan tree, the crow dropped the necklace in the tree’s hollow cove, where the snake lived. On finding a cobra in the hollow, the guards killed it and retrieved the necklace. The crows thanked the jackal and lived happily.</p>
<br><br>
<p><b>Moral:</b> Even the most powerful enemies can be defeated with intelligence.</p>
      	</div>
           {% endblock %}
    